* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --white: #fff;
  --black:#000;
  --gray:#33415C;
  --navy: #03045E;
  --gray-200: #5C677D;
  --gray-400: #001233;
  --dark: #CAF0F8;
  --cerulean: #00B4D8;
}
body {
  width: 100%;
  background-color: var(--dark);
}
.container {
  max-width: 1200px;
  width: 100%;
  padding-top: 2rem;
  margin: 0 auto;
}
.navbar {
  display: flex;
  width: 100%;
  height: 150px;
  width: 100%;
  background-color: var(--navy);
  
  
  
}
.nav-container{
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}
.navbar-logo {
  font-size: 2.5rem;
  color: var(--white);
}
.navbar-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.item-link {
  text-decoration: none;
  color: var(--white);
  font-size: 1.3rem;
  margin-right: 40px;
  transition: all ease 0.3s;
}
.item-link-last{
  text-decoration: none;
  color: var(--white);
  font-size: 1.3rem;
}

.principal {
  margin-top: 100px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px  auto;
}
.principal-container {
  display: flex;
  flex-direction: column;
}
.principal-saudacao {
  max-width: 220px;
  color: var(--black);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 47px;
}
.principal-profissao {
  color: var(--gray);
  font-weight: 500;
  font-size: 1rem;
  line-height: 23px;
}
.principal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.principal-img{
  width: 400px;
  height: 350px;
}
.button-cv {
  background-color: var(--cerulean);
}
.button-contato {
  background-color: transparent;
  border: 1px solid var(--gray-200);
}
.button-contato > a {
  color: var(--black);
}
.button-contato:hover {
  background-color: var(--cerulean);
}
.button-cv:hover {
  background-color: transparent;
  border: 1px solid var(--gray-200);
  color: var(--black);
}
.button-cv > a {
  color: var(--black);
}
.sobre {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sobre-titulo {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  line-height: 48px;
}
.sobre-descricao {
  margin-top: 20px;
  max-width: 750px;
  font-size: 1.1rem;
  color: var(--gray);
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.contact-container {
  margin-top: 100px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact i {
  color: var(--cerulean);
  font-size: 2rem;
  background-color: var(--gray-400);
  padding: 20px 20px;
  border-radius: 50%;
}
.contact h3 {
  color: var(--black);
}
.contact p {
  color: var(--gray);
}
.contact p > a {
  text-decoration: none;
  color: var(--gray);
}
.projetos {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}
.projetos h2 {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}
.projeto-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.card-container > img {
  background-color: transparent;
  width: 300px;
  height: 130px;
  border-radius: 5px;
}
.card-container > h3 {
  color: var(--white);
  font-size: 1rem;
  font-size: 400;
  line-height: 32px;
}
.card-container > p {
  color: var(--gray-200);
  font-size: 0.8rem;
  font-size: 400;
  line-height: 28px;
}

#servicos .card-container {
  border-bottom: 4px solid var(--cerulean);
  gap: 100px;
  margin-left: 30px;
}
#servicos .card-container > i {
  font-size: 3rem;
  color: var(--cerulean);
}
#servicos .card-container > h3 {
  font-size: 2rem;
  color: var(--gray-200);
}
.skills {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}
.skills h2 {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}
.skills-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.skill-card {
  width: 150px;
  height: 150px;
  background-color: var(--gray-400);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-bottom: 4px solid var(--cerulean);
}
.skill-card i {
  color: var(--cerulean);
  font-size: 5rem;
}
footer {
  margin-top: 200px;
  width: 100%;
  padding: 30px 0;
  background-color: var(--gray-400);
  color:var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-style: italic;
}
footer > span {
  color: var(--cerulean);
  margin-left: 10px;
}
/* utilities */
button {
  width: 140px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.8s;
}
button > a {
  text-decoration: none;
  color: var(--dark);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 18px;
}
.card-container {
  width: 350px;
  height: 280px;
  padding: 25px;
  border-radius: 5px;
  background-color: var(--gray-400);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-bottom: 4px solid var(--cerulean);
}
